.header {
  background-color: #562a81;
  color: white;
  font-weight: 100;
  padding-top: 40px;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 33;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.top-nav-bar {
  display: flex;
}

.top-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 50%;
}

.bottom-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  opacity: 50%;
}

a:visited {
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.images {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.facts {
  padding-top: 100px;
}

.facts-header {
  display: flex;
  justify-content: center;
}

.facts-header > h1 {
  font-size: 3rem;
}

li {
  margin: 10px;
  font-size: 30px;
  padding: 20px;
}

.facts > h1 {
  text-align: center;
  font-size: 40px;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
}

.bottom-nav-bar {
  background-color: #562a81;
  color: white;
  font-weight: 100;
  padding-top: 10px;
  font-size: 22px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 33;
}

.bottom-nav-bar i {
  margin-left: 15px;
  margin-right: 15px;
}

.bottom-nav-bar a {
  text-decoration: none;
  color: white;
}

#save-button {
  border: none;
  color: #177cff;
  cursor: pointer;
}

#delete-button {
  border: none;
  color: red;
  cursor: pointer;
}

.comment-section {
  margin-bottom: 12px;
  align-items: center;
}

.comment-icon {
  padding-left: 7px;
  cursor: pointer;
  font-size: 24px;
}

.comment-icon .fa-heart {
  margin-left: 10px;
}

.comment-icon .fa-comment {
  margin-left: 10px;
}

.outline-heart:hover {
  color: red;
}

.fave-heart {
  color: red;
}

.fa-comment:hover {
  color: #177cff;
}

#comment-box {
  width: 260px;
  border-radius: 4px;
}

.image-container {
  flex-wrap: wrap;
  width: 300px;
}

.active {
  opacity: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 100px;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.tabs {
  cursor: pointer;
}
